* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    transition: background-color 0.3s ease;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: underline;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.btn-hero {
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    border: 2px solid #222;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: #222;
    color: #fff;
}

.btn-hero:active {
    color: #fff;
    background-color: #222;
}